.popup__status-img {
    display: block;
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 32px auto;
}
