.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 540px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}
